@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Shopping</h3>
    <img src="/images/shop.png" class="img-fluid" alt="logo shopping" asp-append-version="true">
</div>
